h1, h4{
  color:#b13838;
}

h1, h2, h3, h4, h5{
      font-family: 'Pacifico', cursive;
}

.navbar-dark .navbar-text {
  color: white;
}

.bg-dark {
  background-color: #f4bc6b!important;
}

.btn-link {
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  background-color: #503457;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

nav{
  font-size: 1.5rem;
}

.navbar-dark .navbar-toggler{
  background: #b13838;
}


a, a:hover {
  color: inherit;
  text-decoration: none;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-inner{
  max-height: 540px;
}
.container-fluid{
padding: 0;
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.nav-brand-container{
  display: inherit;
  width: 100%;
}

.jumbotron{
  padding: 30px;
  background-color: #f4bc6b!important;
  color: white;
  margin: 0;
}
.jumbotron h2{
  color: #503457;
}


.site-footer{
  /* background: #b13838; */
  background-image: linear-gradient(#b13838, #f4bc6b);
  color: white;
  padding-top:30px;
  padding-bottom:30px;
}

.fa-shopping-cart{
color:white;
}

.card-body h4{
  font-family: 'Pacifico', cursive;
  font-weight: 300;
  color: #B13838;
}

.img-card{
  border: 1px solid #ddd;
width: 200px;
height: 200px;
object-fit:cover;
border-radius: 5%;
}

.img-thumbnail {
border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 150px;
}

.about, .contact, .ingredients{
  padding-top: 6%;
  padding-bottom:6%;
}

/* Large Desktop Screens */
@media screen and (min-width: 1400px) {
  .carousel-item{
  margin-top:-100px;
  }
}
@media screen and (min-width: 1600px) {
  .carousel-item{
      margin-top:-200px;
      }
}
@media screen and (min-width: 1900px) {
  .carousel-item{
      margin-top:-300px;
      }
}